@{
    Layout = "~/Views/Shared/_LayoutAdminLte.cshtml";

    Dictionary<int, string> Group = (Dictionary<int, string>)ViewBag.Group;
}
<style>

    #tblAccountRequests th {
        vertical-align:top;
        font-size:smaller;
        text-align:center;
        background-color:blue;
        color:white;
    }

    #tblAccountRequests td {
        vertical-align:top;
        font-size:smaller;
    }
</style>
<!--Edit form-->
<div class="modal fade" id="frmAccountRequest" tabindex="-1" role="dialog" aria-labelledby="frmAccountRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="frmAccountRequestModalLabel">Create</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="lstGroup" class="col-form-label">Status:</label>
                            <select class="form-control" id="lstStatus">
                                <option value="0">New</option>
                                <option value="1">Completed</option>
                                <option value="2">Denied</option>
                                <option value="3">Under Different Group</option>
                                <option value="4">Account Closed</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="lstGroup" class="col-form-label">GroupID:</label>
                            <input type="hidden" class="form-control" id="txtAccountRequestId" />
                            <select class="form-control" id="lstGroup">
                                <option></option>
                                @foreach(var g in Group){
                                    <option value="@g.Key">@g.Value </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <div class="col-sm-4">
                            <label for="txtWebUserName" class="control-label">WebUser Name</label>
                            <input id="txtWebUserName" class="form-control" required />
                        </div>
                        <div class="col-sm-4">
                            <label for="txtWebUserPassword" class="control-label">WebUser Password</label>
                            <input id="txtWebUserPassword" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="lstRequestType" class="col-form-label">Request type:</label>
                            <select class="form-control" id="lstRequestType">
                                <option></option>
                                <option value=1>New Practice/Physician</option>
                                <option value=2>Add Physician to Existing Account</option>
                                <option value=3>New PSC</option>
                                <option value=4>New Nursing Home</option>
                            </select>
                        </div>
                        <div class="col-sm-4" style="display:none">
                            <label for="txtExistingAccountID" class="col-form-label">Existing Account ID:</label>
                            <input type="text" class="form-control" id="txtExistingAccountID" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="lstClientType" class="col-form-label">Client type:</label>
                            <select id="lstClientType" class="form-control">
                                <option></option>
                                <option value=3>School - 3</option>
                                <option value=32>Nursing Home - 32</option>
                                <option value=12>Home - 12</option>
                                <option value=11>Client - 11</option>
                                <option value=13>Assist Living -13</option>
                                <option value=15>Mobil Unit - 15</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="txtPracticeName" class="control-label">Practice Name</label>
                            <input id="txtPracticeName" class="form-control" required />
                        </div>
                        <div class="col-sm-4">
                            <label for="txtPracticeNPI" class="control-label">Practice NPI</label>
                            <input id="txtPracticeNPI" class="form-control" required />
                        </div>
                     </div>
                    <div class="form-group row">
                        <table class="table" id="tblPhysician">
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        Physician Name
                                    </th>
                                    <th>
                                        Physician NPI
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="lstResultDeliveryOption" class="control-label" >Result Delivery Option</label>
                            <select id="lstResultDeliveryOption" name="lstResultDeliveryOption" class="form-control chosen-select" multiple>
                                <option></option>
                                <option value=1>Auto Print</option>
                                <option value=2>EMR</option>
                                <option value=3>Fax</option>
                                <option value=4>Hard Copy</option>
                                <option value=5>Portal</option>
                            </select>
                        </div>
                        <div class="col-sm-4" style="display:none">
                            <label for="txtEMRVendor" class="form-label">EMR Vendor:</label>
                            <input type="text" id="txtEMRVendor" class="form-control" />
                        </div>
                        <div class="col-sm-4" style="display:none">
                            <label for="lstAuto" class="control-label">Auto</label>
                            <select id="lstAuto" class="form-control">
                                <option></option>
                                <option value=True>Automatic</option>
                                <option value=False>Manual</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="txtAddress" class="control-label">Address</label>
                            <input id="txtAddress" class="form-control" required />
                        </div>
                        <div class="col-sm-4">
                            <label for="txtSuite" class="control-label">Suite</label>
                            <input id="txtSuite" class="form-control" />
                        </div>
                     </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="txtCity" class="control-label">City</label>
                            <input id="txtCity" class="form-control" required />
                        </div>
                        <div class="col-sm-4">
                            <label for="txtState" class="control-label">State</label>
                            <input id="txtState" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="txtZip" class="control-label">ZIP</label>
                            <input id="txtZip" class="form-control" required />
                        </div>
                        <div class="col-sm-4">
                            <label for="txtPhone" class="control-label">Phone</label>
                            <input id="txtPhone" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="txtFax" class="control-label">Fax</label>
                            <input id="txtFax" class="form-control" />
                        </div>
                        <div class="col-sm-4">
                            <label for="txtOfficeContactName" class="control-label">Office Contact Name</label>
                            <input id="txtOfficeContactName" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="txtContactEmail" class="control-label">Contact Email</label>
                            <input id="txtContactEmail" class="form-control" required />
                        </div>
                        <div class="col-sm-4">
                            <label for="txtContactEmail1" class="control-label">Second contact Email</label>
                            <input id="txtContactEmail1" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <div class="checkbox">
                                <label for="chkSuppliesNeeded" class="control-label">Supplies Needed</label>
                                <input id="chkSuppliesNeeded" type="checkbox" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="lstNeedPgxPortal" class="control-label">Need Pgx Portal</label>
                            <select id="lstNeedPgxPortal" class="form-control" required>
                                <option></option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="display:none">
                        <div class="col-sm-4">
                            <label for="txtPhysicianEmail" class="control-label">Physician Email</label>
                            <input id="txtPhysicianEmail" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group row" >
                        <div class="col-sm-4">
                            <label for="txtRequestedBy" class="control-label">Requested By</label>
                            <input id="txtRequestedBy" class="form-control" required />
                        </div>
                        <div class="col-sm-4">
                            <label for="txtRequestDate" class="control-label">Request Date</label>
                            <input id="txtRequestDate" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group row" >
                        <div class="col-sm-4">
                            <label for="txtCompletedBy" class="control-label">Completed By</label>
                            <input id="txtCompletedBy" class="form-control" required />
                        </div>
                        <div class="col-sm-4">
                            <label for="txtCompletedDate" class="control-label">Completed Date</label>
                            <input id="txtCompletedDate" class="form-control" required />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<!--End edit form-->
<br />
<table id="tblAccountRequests" class="table table-striped table-bordered dataTable">
    <thead>
        <tr>
            <th>Practice Name</th>
            <th>Client Type</th>
            <th>GroupID</th>
            <th>SalesRep</th>
            <th>RequestedBy</th>
            <th>Requested Date</th>
            <th>Request Status</th>
            <th>ClientIDs</th>
            <th>Completed By</th>
            <th>Completed Date</th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Practice Name</th>
            <th>Client Type</th>
            <th>GroupID</th>
            <th>SalesRep</th>
            <th>RequestedBy</th>
            <th>Requested Date</th>
            <th>Request Status</th>
            <th>ClientIDs</th>
            <th>Completed By</th>
            <th>Completed Date</th>
            <th></th>
        </tr>
    </tfoot>
</table>
<!--end dispatch tasks-->
<script src="~/AccountRequest/CompletedAccountRequest.js">
</script>