@{
    Layout = "~/Views/Shared/_LayoutAdminLte.cshtml";
}
<style>
    #tblAssignments th {
        vertical-align: top;
        text-align: center;
        background-color: blue;
        color: white;
    }
</style>
<!--Create form-->
<div class="modal fade" id="frmAssignmentManager" tabindex="-1" role="dialog" aria-labelledby="createDispatchTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="frmAssignmentManagerModalLabel">Create</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="selectEmployeeID" class="col-form-label">EmployeeID:</label>
                            <input type="search" class="form-control" id="txtEmployeeSearch" />
                            <select class="form-control" style="display:none" id="selectEmployeeID" ></select>
                        </div>
                        <div class="col-sm-4">
                            <label for="chkConfirmed" class="col-form-label">Confirmed:</label>
                            <input type="checkbox" class="form-control" id="chkConfirmed" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="txtFirstName" class="col-form-label">First name:</label>
                            <input type="text" class="form-control" id="txtFirstName" readonly />
                        </div>
                        <div class="col-sm-4">
                            <label for="txtLastName" class="col-form-label">Last name:</label>
                            <input type="text" class="form-control" id="txtLastName" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="txtState" class="col-form-label">State:</label>
                            <input  type="text" class="form-control" id="txtState" readonly />
                        </div>
                        <div class="col-sm-4">
                            <label for="txtTelephone" class="col-form-label">Telephone:</label>
                            <input type="text" class="form-control" id="txtTelephone" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="selectMonth" class="col-form-label">Month:</label>
                            <select class="form-control" id="selectMonth">
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="selectYear" class="col-form-label">Year:</label>
                            <select class="form-control" id="selectYear" >
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="txtLastModifiedBy" class="col-form-label">LastModifiedBy:</label>
                            <input type="text" class="form-control" id="txtLastModifiedBy" readonly/>
                        </div>
                        <div class="col-sm-4">
                            <label for="txtLastModifiedDate" class="col-form-label">LastModifiedDate:</label>
                            <input type="text" class="form-control" id="txtLastModifiedDate" readonly/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">
                        <table id="tblDistribution" class="table border">
                            <thead>
                                <tr>
                                    <th class="border vertical-align-top">Percentage</th>
                                    <th class="border vertical-align-top">AccountID/GroupID</th>
                                    <th class="border vertical-align-top">Account/Group Name</th>
                                    <th class="border vertical-align-top">Account/Group Sales Rep</th>
                                    <th class="border vertical-align-top"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <button type="button" id="btnAddAccountDistribution" class="btn btn-secondary">Account Distribution</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" id="btnAddGroupDistribution" class="btn btn-secondary">Group Distribution</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnCreateOk" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<!--End create form-->
<br />
<button type="button" class="btn btn-secondary" id="btnCreateNew">Create New</button>
<br />
<br />
<select id="selectConfirmed" class="form-control col-sm-4">
    <option value="1">All</option>
    <option value="2" selected>UnConfirmed</option>
    <option value="3">Confirmed</option>
</select>
<br />
<br />
<table id="tblAssignments" class="table table-striped table-bordered dataTable">
    <thead>
        <tr>
            <th>Confirmed</th>
            <th>EmployeeID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>State</th>
            <th>Telephone</th>
            <th>Month</th>
            <th>Year</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Confirmed</th>
            <th>EmployeeID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>State</th>
            <th>Telephone</th>
            <th>Month</th>
            <th>Year</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>
<!--end dispatch tasks-->
<script src="~/Phlebotomy/assignmentmanager.js">
</script>