@{
    Layout = "~/Views/Shared/_LayoutAdminLte.cshtml";
}

<!--dictionary edit form-->
<div class="modal fade" id="editPhlebotomist" tabindex="-1" role="dialog" aria-labelledby="editPhlebotomistModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPhlebotomistModalLabel">Edit phlebotomist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="txtLastName" class="col-form-label">Last name:</label>
            <input type="text" class="form-control" id="txtLastName">
          </div>
          <div class="form-group">
            <label for="txtFirstName" class="col-form-label">First name:</label>
            <input type="text" class="form-control" id="txtFirstName">
          </div>
          <div class="form-group">
            <label for="txtPhone" class="col-form-label">Phone:</label>
            <input type="text" class="form-control" id="txtPhone">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</div>
<!--END user edit form-->
<select id="ActiveStatus">
    <option value="0">All</option>
    <option value="1" selected>Active</option>
    <option value="2">Not active</option>
</select>
<table id="Phlebotomists" class="table table-striped table-bordered dataTable">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>State</th>
            <th>Telephone</th>
            <th>EmployeeID</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>State</th>
            <th>Telephone</th>
            <th>EmployeeID</th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>
<script>
$(function(){

    function fillPhlebotomistEditForm(phlebotomistId){

        let response=$.ajax({
            method:"GET",
            url:"/Phlebotomy/GetPhlebotomist",
            dataType:"JSON",
            data:{phlebotomistId:phlebotomistId}
        });

        response.done(function(data){

            $("#txtLastName").val(data.LastName);
            $("#txtFirstName").val(data.FirstName);
            $("#txtPhone").val(data.Telephone);
        }).then(function(){
            $("#editPhlebotomist").modal("show");
        });
    }




   var phlebotomistsList= $("#Phlebotomists").DataTable({
        serverSide:true,
        processing:true,
        rowId:"EmployeeID",
        ajax:{
                url: "/Phlebotomy/phlebotomistsjson",
                type:"POST",
                dataSrc:"data",
                data:function(d){ d.activeStatus=$("#ActiveStatus").val()}
            },
            columns:[
                {data:"FirstName"},
                {data:"LastName"},
                {data:"State"},
                {data:"Telephone"},
                {data:"EmployeeID"},
                {
                    data:null,
                    sortable:false,
                    defaultContent:"<button class='btn btn-secondary'>Details</button>"
                },
                {
                    data:null,
                    sortable:false,
                    defaultContent:"<button class='btn btn-secondary btn-edit-user'>Edit</button>"
                },
            ]
    });

    phlebotomistsList.on('draw',function(){
            $("#Phlebotomists button.btn-edit-user").click(function(event){
                let phlebotomistId=$(event.target).closest("tr").attr("id");
                fillPhlebotomistEditForm(phlebotomistId);
            });
    });

    $("#ActiveStatus").change(function(){
        phlebotomistsList.ajax.reload();
    });

});
</script>